<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - My ASP.NET Application</title>
    <link href="~/Content/MenuSuperior.css" rel="stylesheet" type="text/css" />
    <link href="~/Content/bootstrap.min.css" rel="stylesheet" type="text/css" />
    <script type="text/javascript" src="~/Scripts/jquery-1.10.2.min.js"></script>
    <script type="text/javascript" src="~/Scripts/bootstrap.min.js"></script>
    <script type="text/javascript" src="~/Scripts/Personalizados/MenuSuperior.js"></script>
</head>
<body>
    <p id="NomeUsuario" hidden>@ViewBag.NomeUsuario</p>
    <p id="IdUsuario" hidden>@ViewBag.IdUsuario</p>
    <p id="NomeCampeonato" hidden>@ViewBag.NomeCampeonato</p>
    <div id="MenuSuperior" class="navbar">
        <div class="container">
            <div class="Div_Logo_Menu_Superior">
                <img class="Imagem_Logo_Menu_Superior" alt="LogoNoein" src="~/Images/noein.png" />
            </div>
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
            </div>
            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav">
                    <li class="ElementoMenuSuperior" id="Menu_Superior_Times">Times</li>
                    <li class="ElementoMenuSuperior" id="Menu_Superior_Quadras">Quadras</li>
                    <li class="ElementoMenuSuperior" id="Menu_Superior_Fases_De_Classificacao">Fases De Classificacao</li>
                    <li class="ElementoMenuSuperior" id="Menu_Superior_Horarios">Horarios</li>
                    <li class="ElementoMenuSuperior" id="Menu_Superior_Resultados">Resultados</li>
                </ul>
            </div>
            <div class="InformacoesContaUsuario">
                <div class="OlaUsuario">
                    Olá, @ViewBag.Usuario
                </div>
                <div class="SuaConta">
                    <span class="glyphicon glyphicon-cog" aria-hidden="true"></span>
                    Sua Conta
                </div>
                <div class="Sair_Campeonato_Menu_Superior">
                    Sair
                </div>
            </div>
        </div>
    </div>
    <div class="NomeCampeonato">
        @if (ViewBag.NomeCampeonato == "Inter")
        {
            @ViewBag.NomeCampeonato <span class="UFG">UFG</span>

        }
        else
        {
            @ViewBag.NomeCampeonato
        }
    </div>
    <div class="container body-content">
        <div id="ModalMensagemPrincipal" class="modal fade" role="dialog" hidden>
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header ModalHeaderPadrao" id="ModalMensagemPrincipal_Header">
                        <p class="modal-title ModalMensagemTituloModal" id="ModalMensagemTituloModal"></p>
                    </div>
                    <div class="modal-body ModalBodyPadrao" id="ModalMensagemPrincipal_Body">
                    </div>
                    <div class="ModalFooterPadrao" id="ModalMensagemPrincipal_Footer">
                        <button id="Resposta_Sim" class="BotaoPadrao" hidden>Sim</button>
                        <button id="Resposta_Nao" class="BotaoPadrao" hidden>Não</button>
                        <button id="BotaoFecharModalMensagem" class="BotaoPadrao" hidden>Fechar</button>
                    </div>
                </div>
            </div>
        </div>
        @RenderBody()
        
        <footer class="Rodape">
            <hr />
            <p>&copy; @DateTime.Now.Year - Noein</p>
        </footer>
    </div>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
    @RenderSection("Styles", required: false)
</body>
</html>
