@{
    ViewBag.Title = "Quadra";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@model List<NoeinModel.Quadra>

@section Styles {
    <link href="~/Content/Quadras.css" rel="stylesheet" type="text/css" />
}
<div class="TituloPagina">Quadras</div>

<div name="Body" id="Quadras">
    
    <div class="MenuQuadras">
        <div class="OpcoesQuadra">
            <button class="BotaoPadrao" id="CadastraQuadra">Cadastrar Quadra</button>
            <button class="BotaoPadrao" id="RemoveQuadra">Remover Quadra</button>
            <button class="BotaoPadrao" id="FuncaoHorarioQuadra">Horários das Quadras</button>
            <input type="text" id="InputPesquisaQuadra" name="InputPesquisaQuadra" value="Pesquisar Quadra..." />
            <span class="glyphicon glyphicon-search" aria-hidden="true" id="PesquisaQuadra"></span>
            <span class="glyphicon glyphicon-remove" aria-hidden="true" id="LimpaCampoPesquisa"></span>
        </div>
    </div>
    <div class="ListaDeQuadras">
        <div class="CabecalhoListaDeQuadras">
            <div class="CabecalhoIdQuadra">
                Id
            </div>
            <div class="CabecalhoDescricaoQuadra">
                Descrição
            </div>
            <div class="CabecalhoLocalizacao">
                Localização
            </div>
        </div>
        <div class="CorpoDaLista">
            @if(Model == null || Model.Count == 0) {
                <div class="ListaVazia">Não existem quadras cadastradas.</div>
            } else
            {
                foreach (var quadra in Model)
                {
                <div class="ItemListaQuadra" value="@quadra.IdQuadra">
                    <div class="InformacoesQuadra"  value="@quadra.IdQuadra">
                        <div class="IdQuadra">@quadra.IdQuadra</div>
                        <div class="DescricaoQuadra" value="@quadra.DescricaoQuadra">@quadra.DescricaoQuadra</div>
                        <div class="Localizacao">@quadra.Localizacao</div>
                    </div>
                    <div class="ModalidadesQuadra">
                        @foreach(var modalidade in quadra.RetornaListaDeModalidade())
                        {
                            <div class="ItemModalidade">@modalidade.Descricao</div>
                        }
                    </div>
                </div>
                }
            }
        </div>
    </div>
    <!-- Fim Lista de Quadras -->

    <!-- Modal Cadastra Quadra -->
    <div id="ModalCadastraQuadra" class="modal fade" role="dialog" hidden>
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header ModalHeaderPadrao">
                    <button type="button" class="close" data-dissmiss="ModalCadastraQuadra">&times;</button>
                    <p class="modal-title ModalCadastraQuadraTituloModal">Cadastrar Quadra</p>
                </div>
                <div class="modal-body ModalBodyPadrao">
                    <div class="CadastraQuadra_InformacoesQuadra">
                        Descrição:
                        <input type="text" id="CadastraQuadra_Descricao" value="" />
                        Localização:
                        <input type="text" id="CadastraQuadra_Localizacao" value="" />
                    </div>
                    <div class="CadastraQuadra_Modalidades">
                        @foreach (var item in ViewBag.ModalidadesVisiveis)
                        {
                            var nomeLabel = "Modalidade " + item.Codigo;
                            <div class="CadastraQuadra_ItemModalidade">
                                <input type="radio" value="@item.Codigo" name="@item.Codigo - @item.Descricao" class="CadastraQuadra_ModalidadeItem"/>
                                @item.Descricao
                            </div>
                        }
                    </div>
                    <div class="DivBotaoCadastraQuadra">
                        <button id="BotaoCadastraQuadra" class="BotaoPadrao">Cadastrar</button>
                    </div>
                </div>
                <div class="ModalFooterPadrao">                    
                </div>
            </div>
        </div>
    </div>

    <!-- Modal Remove Quadra -->
    <div id="ModalRemoveQuadra" class="modal fade" role="dialog" hidden>
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header ModalHeaderPadrao">
                    <button type="button" class="close" data-dissmiss="ModalRemoveQuadra">&times;</button>
                    <p class="modal-title ModalRemoveQuadraTituloModal">Remover Quadra</p>
                </div>
                <div class="modal-body ModalBodyPadrao">
                    <div class="ListaQuadrasRemover">
                        <select id="ListaQuadras">
                            <option value="">Selecione uma quadra</option>
                            @foreach (var quadra in Model)
                            {
                                <option value="@quadra.IdQuadra">@quadra.DescricaoQuadra</option>
                            }
                        </select>
                    </div>
                    <div class="DivBotaoRemoveQuadra">
                        <button id="BotaoRemoveQuadra" class="BotaoPadrao">Remover</button>
                    </div>
                </div>
                <div class="ModalFooterPadrao">
                </div>
            </div>
        </div>
    </div>

    <!-- Modal Cadastra Horario Quadra -->
    <div id="ModalFuncaoHorarioQuadra" class="modal fade" role="dialog" hidden>
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header ModalHeaderPadrao">
                    <button type="button" class="close" data-dissmiss="ModalFuncaoHorarioQuadra">&times;</button>
                    <p class="modal-title ModalFuncaoHorarioQuadraTituloModal" >Horários das Quadras</p>
                </div>
                <div class="modal-body ModalBodyPadrao">                                        
                    <div class="ListaQuadrasFuncaoHorario">
                        <select id="ListaQuadras">
                            <option value="">Selecione uma quadra</option>
                            @foreach (var quadra in Model)
                            {
                                <option value="@quadra.IdQuadra">@quadra.DescricaoQuadra</option>
                            }
                        </select>
                    </div>
                    <div class="DivCadastroHorarioQuadra">
                        <div class="Horario_Cadastrar">
                            <div class="LabelCadastraHorario">
                                Data e Horário de Início
                            </div>
                            <div class="InputCadastraHorario">
                                <input type="datetime-local" id="CadastraHorario_HorarioInicio" disabled/>
                            </div>
                            <div class="LabelCadastraHorario">
                                Data e Horário de Término
                            </div>
                            <div class="InputCadastraHorario">
                                <input type="datetime-local" id="CadastraHorario_HorarioTermino" disabled/>
                            </div>
                            <div class="LabelCadastraHorario">
                                Intervalo (em minutos)
                            </div>
                            <div class="InputCadastraHorario">                                
                                <input type="number" min="1" max="300" id="CadastraHorario_Intervalo" disabled/>
                            </div>
                        </div>
                        <div class="DivBotaoCadastraHorarioQuadra">
                            <button id="BotaoCadastraHorarioQuadra" class="BotaoPadrao" disabled>Cadastrar Horario</button>
                        </div>
                    </div>
                    <div class="ListaHorarioQuadras">
                        <div class="Quadra_Horario">
                            <div class="Titulo">
                                Lista de Horários
                            </div>
                            <div class="ListaHorarios">
                                <div class="ListaVazia">Não existem horários Cadastrados!</div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="ModalFooterPadrao">
                </div>
            </div>
        </div>
    </div>
    @section scripts {
        <script type="text/javascript" src="~/Scripts/Personalizados/Quadras.js"></script>
    }

</div>