@{
    ViewBag.Title = "Quadras";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@model List<NoeinModel.Quadra>

@section Styles {
    <link href="~/Content/Quadras.css" rel="stylesheet" type="text/css" />
}
<div class="TituloPagina">Quadras</div>

<div name="Body" id="Quadras">    
    <div class="OpcoesQuadra">
            <button class="BotaoPadrao" id="CadastraQuadra">Cadastrar Quadra</button>
            <div class="Pesquisa">
                <input type="text" id="InputPesquisaQuadra" name="InputPesquisaQuadra" value="Pesquisar Quadra..." />
                <span class="glyphicon glyphicon-search" aria-hidden="true" id="PesquisaQuadra"></span>
                <span class="glyphicon glyphicon-remove" aria-hidden="true" id="LimpaCampoPesquisa"></span>
            </div>
    </div>
    <div class="ListaDeQuadras">
        <div class="CabecalhoListaDeQuadras">
            <div class="CabecalhoIdQuadra">
                Id
            </div>
            <div class="CabecalhoDescricaoQuadra">
                Descrição
            </div>
            <div class="CabecalhoLocalizacao">
                Localização
            </div>
            <div class="MenuQuadra">
            </div>
        </div>
        <div class="CorpoDaLista">
            @if(Model == null || Model.Count == 0) {
                <div class="ListaVazia">Não existem quadras cadastradas.</div>
            } else
            {
                foreach (var quadra in Model)
                {
                <div class="ItemListaQuadra" value="@quadra.IdQuadra">
                    <div class="InformacoesQuadra"  value="@quadra.IdQuadra">
                        <div class="IdQuadra">@quadra.IdQuadra</div>
                        <div class="DescricaoQuadra" value="@quadra.DescricaoQuadra">@quadra.DescricaoQuadra</div>
                        <div class="Localizacao">@quadra.Localizacao</div>
                        <div class="MenuQuadra">
                            <span class="glyphicon glyphicon-trash RemoveQuadra" aria-hidden="true"></span>
                            <span class="glyphicon glyphicon-time FuncaoHorarioQuadra" aria-hidden="true"></span>
                        </div>
                    </div>
                    <div class="ModalidadesQuadra">
                        @foreach(var modalidade in quadra.RetornaListaDeModalidade())
                        {
                            <div class="ItemModalidade">@modalidade.DescricaoModalidade</div>
                        }
                    </div>                    
                </div>                
                }
            }
        </div>
    </div>
    <!-- Fim Lista de Quadras -->
    
    @section scripts {
        <script type="text/javascript" src="~/Scripts/Personalizados/Quadras.js"></script>
    }

</div>